:local {
  .loginAndSignup {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 11px;
    li {
      margin-left: 2px;
      display: inline;
    }
  }
  .regis {
    margin-left: 36px !important;
  }
}