:local {
  .option {
    display: flex;
    align-items: center;
  }

  .error {
    font-size: 12px;
    line-height: 24px;
    color: rgba(235, 87, 87, 0.7);
    height: 25px;
  }

  .checkButton {
    margin-right: 6px;
  }
}
