:local {
  .headerContainer {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .titleLeft {
    color: #076daf;
    font-size: 24px;
    font-weight: 600;
  }

  .logoImage {
    width: 64px;
    height: 60px;
  }

  .forgotAccount {
    margin-bottom: 20px;
    font-size: 12px;
    cursor: pointer;
    color: #1c83c6;
  }

  .createAccount {
    font-size: 16px;
    line-height: 25px;
    text-align: right;

    color: #1c83c6;
  }
}
