:local {
  .content {
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    background-color: white;
    padding: 43px 0 97px 0;
    text-align: center;
  }
  .title {
    margin-bottom: 6px;
    color: #1C83C6;
    font-weight: bold;
    font-size: 180px;
    line-height: 226px;
  }
  .text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
  }
}
