@import url('https://fonts.googleapis.com/css?family=Mulish');

:local {
  .enter {
    position: fixed;
    width: 426px;
    height: 238px;
    left: calc(747/1920*100%);
    top: 96px;

    padding: 0px;
    background: #FFFFFF;

    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);

    a {
      text-decoration: none;
      color:#1C83C6;
    }

    h5 {
      position: absolute;
      left: 36px;
      top: 24px;

      margin: 0px;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;

      color: #1C83C6;
    }

    h6 {
      padding: 0px;
      margin: 0px;
    }

    .enterContest {
      position: absolute;
      left: 36px;
      top: 90px;

      padding: 0px;
      margin: 0px;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      color: rgba(0, 0, 0, 0.6);
    }

    .userInfo {
      position: absolute;
      width: 354px;
      height: 80px;
      left: 36px;
      top: 122px;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      color: rgba(0, 0, 0, 0.6);
    }
  }
}