.overlay {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.container {
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 25px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
  border-radius: 10px;

  align-items: center;
  display: flex;
  vertical-align: center;
}

.spinner {
  width: auto;
  margin: 0 auto;
}