:root {
  --form-text-error: #fd424b;
  --form-text-error-focus: #fd424b;

  --primary-lighter: #67adda;
  --primary-light: #3f96ce;
  --primary-default: #1c83c6;
  --primary-dark: #076daf;
  --primary-darker: #055081;
  --secondary-default: #ff9816;

  --link: var(--primary-default);
  --link-hover: var(--primary-lighter);
  --link-active: var(--primary-darker);

  --button-primary: var(--primary-default);
  --button-primary-hover: var(--primary-lighter);
  --button-primary-active: var(--primary-darker);

  --black60: rgba(0, 0, 0, 0.6);
  --black80: rgba(0, 0, 0, 0.8);
  --black06: rgba(0, 0, 0, 0.06);
  --black50: rgba(0, 0, 0, 0.5);

  --content-width: 600px;
  --contest-table-width: 1200px;
  --min-width-container: 600px;
  --navbar-height: 48px;
}

:local {
  * {
    margin: 0px;
    box-sizing: border-box;
  }

  body {
    min-width: 720px;

    background-color: #f5f8fa;
    font-style: normal;
    font-weight: normal;
    font-family: Mulish, sans-serif;
  }

  a {
    color: var(--link);
    text-decoration: none;

    &:visited {
      color: var(--link);
    }

    &:hover {
      color: var(--link-hover);
    }

    &:active {
      color: var(--link-active);
    }
  }

  button {
    cursor: pointer;
  }
}
