:local {
  * {
    margin: 0px;
    box-sizing: border-box;
  }

  body {
    background-color: #f5f8fa;
    font-family: Mulish, sans-serif;
  }

  a {
    color: #1c83c6;

    &:hover {
      color: rgba(63, 150, 206, 0.6);
    }

    &:visited {
      color: #1c83c6;
    }

    &:active {
      color: rgba(63, 150, 206, 0.6);
    }
  }

  button {
    cursor: pointer;
  }
}
