:local {
  .disabledBtn {
    width: 162px;
    height: 42px;
    float: left;
    margin-left: 222px;
    text-align: center; 
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: white;
    cursor: not-allowed;
    padding-top: 9px;
  }
}