:local {
  .aBtn {
    text-decoration: none;
  }
  .goBackBtn {
    width: 168px;
    height: 32px;
    margin-left: 216px;
    margin-top: 24px;
    text-align: center; 
    background: #1C83C6;
    border-radius: 4px;
    color: white;
    padding-top: 9px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
  }
}