:local {
  .joinBtn {
    width: 162px;
    height: 42px;
    float: left;
    margin-left: 222px;
    text-align: center; 
    background: #1C83C6;
    border-radius: 4px;
    color: white;
    padding-top: 9px;
  }
}