:local {
  .regisBtn {
    width: 162px;
    height: 42px;
    float: left;
    margin-left: 129px;
    text-align: center; 
    background: #1C83C6;
    border-radius: 4px;
    color: white;
    padding-top: 9px;
  }
  .loginBtn {
    width: 162px;
    height: 42px;
    float: left;
    margin-left: 24px;
    text-align: center;
    background: white;
    border-radius: 4px;
    color: #1C83C6;
    border: 1px solid #076DAF;
    padding-top: 9px;
  }
}