:local {
  .label {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
  }

  .input {
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);

    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 2px 0;

    &:focus {
      border-bottom-color: #1c83c6;
    }

    &.inputError {
      border-bottom-color: rgba(235, 87, 87, 0.7);
    }
  }

  .error {
    font-size: 12px;
    line-height: 24px;
    color: rgba(235, 87, 87, 0.7);
    height: 25px;
  }
}
