@import url('https://fonts.googleapis.com/css?family=Mulish');

.popupBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;

  .failedPopup {
    position: absolute;
    width: 600px;
    height: 270px;
    left: 660px;
    top: 374px;
    opacity: 1;
    z-index: 3;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    border-radius: 10px;
  
    .titleBar {
      height: 56px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      align-items: center;
      display: flex;
  
      h5 {
        padding-left: 24px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: rgba(235, 87, 87, 0.7);
      }
    }
  
    .content {
      position: absolute;
      height: 120px;
      left: 24px;
      top: 80px;
      right: 24px;
  
      font-family: 'Mulish';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: rgba(0, 0, 0, 0.8);
    }
  
    button {
      /* background */
      width: 160px;
      height: 42px;
      left: 220px;
      top: 200px;
      position: absolute;
      background: #076DAF;
      border-radius: 4px;
  
      /* text */
      font-family: 'Mulish';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
  
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
  
      color: #FFFFFF;
    }

    img {
      position: absolute;
      top: 19px;
      right: 29px;
    }
  }
}