:local {
  .container {
    width: 500px;
    height: 175px;
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    color: rgba(0, 0, 0, 0.8);
  }
}
