@import 'variables.scss';

:local {
  .container {
    min-width: $min-width-container;
    width: 100%;
  }
  .content {
    width: 930px;
    height: auto;
    margin: 48px auto 0 auto;
    color: rgba(0, 0, 0, 0.6);
    padding: 24px 36px 24px 36px;
    a {
      color: rgba(0, 0, 0, 0.6);
    }
    a:visited {
      color: rgba(0, 0, 0, 0.6);
    }
    a:active {
      color: rgba(0, 0, 0, 0.6);
    }
    a:hover {
      color: #1c83c6;
    }
  }
  .title {
    text-align: left;
    color: #1c83c6;
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
  }
  .item {
    margin-top: 36px;
    width: 858px;
    height: 230px;
    display: flex;
    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    border-radius: 5px;
    position: relative;
    background-color: white;
  }
  .img {
    width: 235px;
    height: 212px;
    position: relative;
    left: 20px;
    top: 9px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .itemcontent {
    width: 580px;
    height: 230px;
    position: absolute;
    padding: 27px 0 0 42px;
    top: 0px;
    right: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.16);
  }
  .description {
    margin-top: 11px;
  }
  h2 {
    font-weight: 600;
    size: 24px;
    line-height: 30px;
    color: #1C83C6;
  }
}
