@import 'variables.scss';

:local {
  $card-height: 181px;

  .container {
    width: $content-width;
    margin: 45px auto;
  }

  .content {
    width: 100%;
  }

  .title {
    text-align: left;
    color: #076daf;
    font-weight: 600;
    font-size: 36px;
  }

  .item {
    width: 100%;
    margin-top: 35px;
    height: $card-height;
    padding: 24px 36px;

    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    border-radius: 5px;
    background-color: white;
  }

  .itemTitle {
    color: #1c83c6;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  .description {
    margin-top: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}
