:local{
    $breakpoint-small-devices: 400px;
    .container {
        //dưới 395px thì sẽ bị lỗi
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edeff2;
        position: relative;
      }
    
      .image {
        width: 100%;
        height: 100%;
      }
    
      .placeholderImage {
        margin: 10px;
        width: 60px;
        height: 60px;
      }
    
      .invisible {
        width: 0;
        height: 0;
      }
      .container_child{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0%;
        left: 0%;
        .container_child_logo,.container_child_users,.container_child_medal{
          height: 60%;
          color: white;
          margin: 24px 33px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
        .container_child_logo img {
          width: 50px;
          height: 50px;
        }
        .container_child_users img{
          width: 50px;
          height: 40px;
        }
        .container_child_medal img{
          width: 45px;
          height: 40px;
        }
        .container_child_cnt{
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 50% 50%;
          p{
            font-size: 16px;
            margin-left: 0.35rem;
            margin-bottom: 0px;
          }
        }
      }
      @media (max-width: $breakpoint-small-devices) {
          .container_child{
            .container_child_logo, .container_child_medal, .container_child_users{
              margin: 0px auto;
              height: 100%;
            }
            .container_child_cnt{
              p{
                font-size: 14px;
                margin-left: 0.25rem;
                margin-bottom: 0px;
              }
            }
          }
      }
}