@import 'variables.scss';

:local {
  .container {
    min-width: $min-width-container;
    width: 100%;
  }
  .content {
    width: 900px;
    margin: 48px auto;
    padding: 36px;
    box-shadow: 0px 0px 12px rgba(188, 188, 188, 0.25);
    border-radius: 4px;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    a {
      color: #076daf;
      text-decoration: none;
    }
  }
  .info {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 48px;
  }
  .personalInfo {
    width: 560px;
    height: auto;
    display: flex;
  }
  .avatar {
    width: 118px;
    height: 148px;
    display: flex;
    flex-direction: column;
    .ava {
      width: 118px;
      height: 118;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .infoContent {
    margin-top: 10px;
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 10px;
  }
  .infoContentSpan {
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
  }
  .infoContentHeading {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: black;
    font-style: normal;
    display: inline;
  }
  .insideInfoContentDiv {
    margin-bottom: 6px;
    width: 467px;
  }
  .point {
    width: 290px;
    padding-top: 19px;
    display: flex;
  }
  .rankingAndRating {
    width: 121px;
    height: 79px;
    border: 2px solid rgba(63, 150, 206, 0.6);
    border-radius: 4px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
  }
  .pointTitle {
    width: 100%;
    height: 30px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 20px;
    color: #1c83c6;
  }
  .rankingScore {
    width: 100%;
    height: 49px;
    padding-top: 2px;
    font-size: 34px;
    line-height: 43px;
    color: black;
  }
  .ratingScore {
    width: 100%;
    height: 49px;
    padding-top: 2px;
    font-size: 34px;
    line-height: 43px;
    color: #eb5757;
  }
}
